.account-content {
    padding-left: 24px;
    padding-right: 24px;
}

.detail {
    /* flex-grow: 1; */
    min-width: 150px;
    flex-grow: 1;
}

.earning {
    flex-grow: 10;
}

@media (min-width: 1025px) {
    .account-content {
        padding-left: 120px;
        padding-right: 120px;
    }

    .detail {
        min-width: 384px;
    }
}

@media (min-width: 1280px) {
    .account-content {
        padding-left: 188px;
        padding-right: 188px;
    }    
}